:root {
	--app-row-grid-columns: 1fr;
	--app-row-images-width: auto;
	--app-row-images-height: 400px;
	--app-row-toggle-display: none;
	--app-row-toggle-display-mobile: block;
	--app-row-images-justify: center;

	--app-image-rotate-1: rotate(0deg);
	--app-image-rotate-2: rotate(0deg);
	--app-image-rotate-3: rotate(0deg);
	--app-image-rotate-4: rotate(0deg);
	--app-image-translate-1: translate(-10%);
	--app-image-translate-2: translate(-3%);
	--app-image-translate-3: translate(4%);
	--app-image-translate-4: translate(10%);

	@media (min-width: 1001px) {
		--app-row-grid-columns: 1fr 2fr;
		--app-row-images-width: 400px;
		--app-row-images-height: 500px;
		--app-row-toggle-display: block;
		--app-row-toggle-display-mobile: none;
		--app-row-images-justify: flex-end;

		--app-image-rotate-1: rotate(0deg);
		--app-image-rotate-2: rotate(-3deg);
		--app-image-rotate-3: rotate(-6deg);
		--app-image-rotate-4: rotate(0deg);
		--app-image-translate-1: translate(0);
		--app-image-translate-2: translate(-5%);
		--app-image-translate-3: translate(-10%);
		--app-image-translate-4: translate(0);
	}
}

.app-row {
	display: grid;
	grid-template-columns: var(--app-row-grid-columns);
	gap: calc(6 * var(--padding-standard));
	position: relative;
	min-width: 100%;
	max-width: var(--max-width-site);
	margin: auto;

	&:hover .app-row-toggle-button {
		background-color: rgba(255, 255, 255, 0.25)
	}

	&.tablet {
		min-height: 400px;
	}

	&.mobile {
		min-height: 450px;
	}

	&.gallery-mode {
		& .app-row-vitae {
			opacity: 0;
		}

		& .app-row-images-wrapper {
			& img {
				&:nth-child(1) {
					transform: translateX(-15%);
				}

				&:nth-child(2) {
					transform: translateX(85%);
				}

				&:nth-child(3) {
					transform: translateX(185%);
				}

				&:nth-child(4) {
					transform: translateX(285%);
				}
			}
		}
	}

	@media (max-width: 1001px) {
		&.show-1 .app-row-images-wrapper {
			& img {
				transition: z-index 0s linear, transform 0.2s ease 0.1s;
			}
		}
		&.show-2 .app-row-images-wrapper {
			& img:nth-child(2) {
				z-index: 100;
				transform: translateX(0px) !important;
				
			}
			& img:not(:nth-child(2)) {
				transform: translateX(0);
				opacity: 0.5;
			}
		}
		&.show-3 .app-row-images-wrapper {
			& img:nth-child(3) {
				z-index: 100;
				transform: translateX(0px) !important;
				
			}
			& img:not(:nth-child(3)) {
				transform: translateX(0);
			}
		}
		&.show-4 .app-row-images-wrapper {
			& img:nth-child(4) {
				z-index: 100;
				transform: translateX(0px) !important;
				
			}
			& img:not(:nth-child(4)) {
				transform: translateX(0);
			}
		}
	}
	
	& .app-row-images-wrapper {
		position: relative;
		display: flex;
        justify-content: var(--app-row-images-justify);
		width: var(--app-row-images-width);
		height: var(--app-row-images-height);

		& img {
			position: absolute;
			max-width: 85%;
			height: 100%;
			object-fit: contain;
			transition: all 0.5s;

			&:nth-child(1) {
				z-index: 10;
				transform: var(--app-image-rotate-1) var(--app-image-translate-1);
			}

			&:nth-child(2) {
				z-index: 9;
				transform: var(--app-image-rotate-2) var(--app-image-translate-2);
			}

			&:nth-child(3) {
				z-index: 8;
				transform: var(--app-image-rotate-3) var(--app-image-translate-3);
			}

			&:nth-child(4) {
				z-index: 7;
				transform: var(--app-image-rotate-4) var(--app-image-translate-4);
			}
		}
	}

	& .app-row-vitae {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: calc(2 * var(--padding-standard));
		transition: all 0.5s ease 0.2s;

		& .app-row-proposition-wrapper {
			max-width: 600px;
		}

		& .app-row-roles-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			max-width: 475px;
			opacity: 0.75;

			& .app-row-roles-title {
				flex-basis: 100%;
				font-style: normal;
				font-weight: 400;
			}

			& .app-row-role {
				display: flex;
				gap: var(--padding-standard);
				align-items: center;

				&:before {
					content: "";
					display: block;
					width: 7px;
					height: 7px;
					background-color: #fff;
					border-radius: 50%;
					opacity: 0.5;
				}
			}
		}

		& .app-row-vitae-info {
			display: flex;
			flex-direction: column;
			gap: calc(3 * var(--padding-standard));
		}

		& .app-row-tech-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: var(--padding-standard);
			max-width: 500px;
			margin-top: var(--padding-standard);
			opacity: 0.7;

			& .app-row-tech-title {
				flex-basis: 100%;
				font-style: normal;
				font-weight: 400;
			}
		}
	}

	&.gallery-mode .app-row-toggle-button {
		color: var(--colour-dark);
		background-color: rgba(255, 255, 255, 1);
	}
}

.app-row-toggle-button, .app-row-toggle-mobile {
	position: absolute;
	z-index: 20;
	height: 50px;
	width: 120px;
	font-size: 2em;
	line-height: 0;
	color: var(--colour-light);
	margin: calc(-8 * var(--padding-standard)) auto 0 auto;
	padding: var(--padding-standard);
	border-radius: var(--padding-standard);
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.25s;

	&:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
}

.app-row-toggle-button {
	display: var(--app-row-toggle-display);
	bottom: -70px;
	right: 0;
	background-color: rgba(255, 255, 255, 0.03);
}

.app-row-toggle-mobile {
	display: var(--app-row-toggle-display-mobile);
	z-index: 100;
	bottom: -30px;
	right: 50%;
	font-size: 1.4rem;
	background-color: var(--colour-primary);
	transform: translateX(50%);

	&:hover {
		background-color: var(--colour-primary);
	}
}