.fanned-image-row {
	position: relative;
	padding-bottom: calc(4 * var(--padding-standard));

	& .fanned-title {
		position: absolute;
		bottom: -40px;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 2em;
		font-weight: bold;
	}

	& .fanned-flex {
		display: flex;
		justify-content: center;
		gap: calc(2 * var(--padding-standard));
	}
}