:root {
	--scroll-down-display: block;
	--section-width: calc(100% + calc(8 * var(--padding-standard)));
	--section-padding: calc(12 * var(--padding-standard)) calc(4 * var(--padding-standard));
	--section-margin: calc(-4 * var(--padding-standard));
	--vitae-grid-width: 100%;
	--vitae-grid-columns: 1fr;
	--vitae-grid-row: auto;
	--vitae-grid-1-column: 1; --vitae-grid-1-row: 1;
	--vitae-grid-2-column: 1; --vitae-grid-2-row: 2;
	--vitae-grid-3-column: 1; --vitae-grid-3-row: 3;
	--vitae-grid-4-column: 1; --vitae-grid-4-row: 4;
	--vitae-grid-5-column: 1; --vitae-grid-5-row: 5;
	--vitae-grid-6-column: 1; --vitae-grid-6-row: 6;
	--vitae-grid-7-column: 1; --vitae-grid-7-row: 7;
	--vitae-grid-8-column: 1; --vitae-grid-8-row: 8;

	@media (min-width: 1001px) {
		--scroll-down-display: none;
		--section-width: calc(100% + calc(6 * var(--padding-standard)));
		--section-padding: calc(14 * var(--padding-standard)) calc(3 * var(--padding-standard));
		--section-margin: calc(-3 * var(--padding-standard));
		--vitae-grid-width: 1400px;
		--vitae-grid-columns: 1fr 1fr 1fr;
		--vitae-grid-rows: 25px 1fr 25px 25px 1fr;
		--vitae-grid-1-column: 1; --vitae-grid-1-row: 1;
		--vitae-grid-2-column: 1; --vitae-grid-2-row: 2/6;
		--vitae-grid-3-column: 2; --vitae-grid-3-row: 1;
		--vitae-grid-4-column: 2; --vitae-grid-4-row: 2;
		--vitae-grid-5-column: 2; --vitae-grid-5-row: 3;
		--vitae-grid-6-column: 2; --vitae-grid-6-row: 4/6;
		--vitae-grid-7-column: 3; --vitae-grid-7-row: 1;
		--vitae-grid-8-column: 3; --vitae-grid-8-row: 2/6;
	}
}

menu {
	display: flex;
	flex-direction: column;
	gap: var(--padding-standard);
	padding: 0;
	margin-bottom: 0;
	font-style: italic;
	color: #aaa;

	& a {
		text-decoration: none;
		font-size: 1em;
		color: var(--colour-light);
		font-style: normal;
		transition: all 0.25s;

		&:hover {
			font-weight: bold;
		}
	}
}

strong {
	font-weight: 600;
}

.intro {
	display: block;
	width: 100%;
	max-width: 550px;
	font-size: min(2em, 8vw);
}

section {
	position: relative;
	display: flex;
	width: var(--section-width);
	margin-left: var(--section-margin);
	padding: var(--section-padding);
	box-sizing: border-box;

	&:nth-child(2n) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	&.home {
		width: 100%;
		max-width: var(--max-width-site);
		gap: calc(6 * var(--padding-standard));
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		margin-left: calc(-2 * var(--padding-standard));

		@media (min-width: 1001px) {
			align-items: flex-end;
			flex-direction: row;
		}
		
		@media (min-width: 1100px) {
			margin: auto;
		}
	}

	&:not(.home) {
		justify-content: center;
	}

	&.section-vitae {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		gap: calc(3 * var(--padding-standard));
		font-weight: 400;

		& .vitae-heading {
			width: var(--vitae-grid-width);

			@media (max-width: 1491px) {
				width: 100%;
			}

			& .vitae-subheading {
				font-size: 1em;
				margin-bottom: var(--padding-standard);
			}

			& .vitae-main-heading {
				font-size: 2em;
				font-weight: bold;
			}
		}

		& .vitae-grid {
			flex-basis: 100%;
			display: grid;
			grid-template-columns: var(--vitae-grid-columns);
			grid-template-rows: var(--vitae-grid-rows);
			gap: calc(2 * var(--padding-standard));
			max-width: var(--vitae-grid-width);

			& .vitae-cell {
				color: var(--colour-dark);
				padding: calc(1.25 * var(--padding-standard));
				border-radius: var(--padding-standard);
				background-color: #fff;

				& .bubble-thing div.margined-row {
					margin-bottom: 8px;
				}

				& .tool-image {
					display: inline-block;
					vertical-align: top;
					margin-right: var(--padding-standard);
				}

				& img {
					display: inline;
					height: 35px;
				}
			}

			& .flexing {
				display: flex;
				flex-direction: column;
				gap: var(--padding-standard);
			}

			& .vitae-cell-1 {
				grid-column: var(--vitae-grid-1-column);
				grid-row: var(--vitae-grid-1-row);
			}

			& .vitae-cell-2 {
				grid-column: var(--vitae-grid-2-column);
				grid-row: var(--vitae-grid-2-row);
			}

			& .vitae-cell-3 {
				grid-column: var(--vitae-grid-3-column);
				grid-row: var(--vitae-grid-3-row);
			}

			& .vitae-cell-4 {
				grid-column: var(--vitae-grid-4-column);
				grid-row: var(--vitae-grid-4-row);
			}

			& .vitae-cell-5 {
				grid-column: var(--vitae-grid-5-column);
				grid-row: var(--vitae-grid-5-row);
			}

			& .vitae-cell-6 {
				grid-column: var(--vitae-grid-6-column);
				grid-row: var(--vitae-grid-6-row);
			}

			& .vitae-cell-7 {
				grid-column: var(--vitae-grid-7-column);
				grid-row: var(--vitae-grid-7-row);
			}

			& .vitae-cell-8 {
				grid-column: var(--vitae-grid-8-column);
				grid-row: var(--vitae-grid-8-row);
			}

			& .vitae-grid-title {
				font-size: 1.1em;
				font-weight: 500;
				min-height: 30px;
				margin-bottom: calc(var(--padding-standard) / 2);
			}

			& .vitae-bubbles {
				display: flex;
				flex-wrap: wrap;
				gap: var(--padding-standard);
			}

			& .vitae-tools {
				& .vitae-tools-description {
					display: flex;
					justify-content: space-between;
					flex-basis: 100%;

					& div:first-child {
						font-weight: 500;
					}

					& div:last-child {
						text-align: right;
					}
				}

				& .vitae-tools-details {
					display: flex;
					flex-wrap: wrap;
					gap: var(--padding-standard);
				}

				& img {
					height: 50px;
				}

				& .vitae-tools-row {
					flex-basis: 100%;

					& img {
						height: 40px;
						padding: 5px;
						border-radius: var(--padding-standard);
						background-color: #ccc;
					}
				}

				& .vitae-tools-addendum {
					display: flex;
					justify-content: flex-end;
					font-size: 1.2em;
					text-align: right;

					& a {
						color: var(--colour-primary);
						text-decoration: none;
						transition: all 0.2s;

						&:hover {
							font-weight: 500;
						}
					}
				}
			}
		}

		& .links {
			display: flex;
			flex-direction: column;
			gap: var(--padding-standard);
			width: 100%;
		}

		& .contact-method {
			display: flex;
			align-items: center;
			gap: calc(2 * var(--padding-standard));
			height: 50px;
			color: var(--colour-dark);
			font-size: 1.3em;
			text-decoration: none;
			transition: all 0.35s;

			& img {
				height: 100%;
				object-fit: contain;
				transition: all 0.35s;
			}

			&:hover {
				gap: calc(2.4 * var(--padding-standard));
				font-weight: bold;

				& img {
					transform: scale(1.05);
				}
			}
		}

		.vitae-references {
			flex-basis: 100%;
			align-items: center;
			text-align: center;
			width: 100%;
			min-width: 100%;
			max-width: 500px;
			margin: auto;
			padding-top: calc(2 * var(--padding-standard));

			& .vitae-references-content {
				display: flex;
				flex-direction: column;
				gap: calc(4 * var(--padding-standard));
				max-width: 500px;
				margin: auto;
			}

			& .references-title {
				font-size: 1.6em;
			}

			& .vitae-reference-links {
				display: flex;
			}

			& a {
				display: block;
				width: 100%;
				height: 100px;
				font-size: 1.3em;
				color: var(--colour-light);
				text-decoration: none;
				transition: all 0.15s;

				& img {
					height: 50px;
				}

				& p {
					margin: 0;
				}

				&:hover {
					transform: scale(1.02);
				}
			}
		}
	}

	&.section-timeline {
		--min-width-segment: 100%;

		@media (min-width: 1001px) {
			--min-width-segment: 330px;
		}

		flex-direction: column;

		& .timeline-scroller {
			padding-bottom: calc(3 * var(--padding-standard));
			overflow-x: hidden;
			overflow-y: hidden;
			scroll-snap-type: x mandatory;

			& .timeline-segments {
				display: flex;
				align-items: stretch;

				& .timeline-segment {
					min-width: var(--min-width-segment);
					scroll-snap-align: start;
					box-sizing: border-box;

					&:not(:first-of-type) {
						padding-top: 30px;
					}
				}
			}
		}

		& .timeline-controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: var(--padding-standard);
			width: 100%;
			padding: 8px calc(2 * var(--padding-standard)) calc(2 * var(--padding-standard));
		}

		& .link {
			width: 200px;

			& a {
				color: #fff;
				text-decoration: none;
				transition: all 0.2s;

				&:hover {
					font-weight: 500;
				}
			}
		}
	}

	&.section-apps {}

	& .menu {
		text-align: left;

		@media (min-width: 1001px) {
			text-align: right;
		}

		& .scroll-down-indicator {
			display: var(--scroll-down-display);
			margin-top: calc(6 * var(--padding-standard));
			font-size: 2em;
		}
	}

	&.section-web {
		display: flex;
		gap: var(--padding-standard);
	}

	&.section-visualisations {
		flex-direction: column;
		align-items: center;
		gap: calc(2 * var(--padding-standard));

		& .visualisations-title {
			font-size: 2.2em;
			font-weight: 400;
			max-width: 500px;
			text-align: center;
		}
			
		p {
			font-size: 1.8em;
			max-width: 500px;
			text-align: center;
		}

		& .snake-visualisation,
		& .exerciser-visualisation,
		& .triangular-frame-visualisation {
			width: 100%;
			max-width: 100%;
			border-radius: var(--padding-standard);

			@media (min-width: 1001px) {
				max-width: min(90%, var(--max-width-site));
			}
		}

		& .snake-visualisation {
			aspect-ratio: 4/3;

			@media (min-width: 1001px) {
				aspect-ratio: 4/2;
			}
		}

		& .exerciser-visualisation {
			aspect-ratio: 4/3;
		}

		& .triangular-frame-visualisation {
			aspect-ratio: 4/3;
		}
	}

	&.section-ai {
		flex-direction: column;
		gap: calc(7 * var(--padding-standard));
		align-items: center;

		@media (min-width: 1001px) {
			& .informative-video {
				max-width: min(90%, var(--max-width-site));
				margin: auto;
			}
		}
	}

	&.section-fin {
		font-size: 1.4em;

		& div {
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				font-weight: bold;
			}
		}
	}
}