:root {
	--scroll-down-display: block;
	--section-width: calc(100% + calc(8 * var(--padding-standard)));
	--section-padding: calc(12 * var(--padding-standard)) calc(4 * var(--padding-standard));
	--section-margin: calc(-4 * var(--padding-standard));
	--vitae-grid-width: 100%;
	--vitae-grid-columns: 1fr;
	--vitae-grid-row: auto;
	--vitae-grid-1-column: 1; --vitae-grid-1-row: 1;
	--vitae-grid-2-column: 1; --vitae-grid-2-row: 3;
	--vitae-grid-3-column: 1; --vitae-grid-3-row: 2;
	--vitae-grid-4-column: 1; --vitae-grid-4-row: 5;
	--vitae-grid-5-column: 1; --vitae-grid-5-row: 4;
	--vitae-grid-6-column: 1; --vitae-grid-6-row: 6;

	@media (min-width: 1001px) {
		--scroll-down-display: none;
		--section-width: calc(100% + calc(6 * var(--padding-standard)));
		--section-padding: calc(16 * var(--padding-standard)) calc(3 * var(--padding-standard));
		--section-margin: calc(-3 * var(--padding-standard));
		--vitae-grid-width: 1400px;
		--vitae-grid-columns: 1fr 1fr 1fr;
		--vitae-grid-rows: auto;
		--vitae-grid-1-column: 1; --vitae-grid-1-row: 1;
		--vitae-grid-2-column: 2; --vitae-grid-2-row: 1/4;
		--vitae-grid-3-column: 3; --vitae-grid-3-row: 1/3;
		--vitae-grid-4-column: 1; --vitae-grid-4-row: 2/6;
		--vitae-grid-5-column: 2; --vitae-grid-5-row: 4/6;
		--vitae-grid-6-column: 3; --vitae-grid-6-row: 3/6;
	}
}

menu {
	display: flex;
	flex-direction: column;
	gap: var(--padding-standard);
	padding: 0;
	margin-bottom: 0;
	font-style: italic;
	color: #aaa;

	& a {
		text-decoration: none;
		font-size: 1em;
		color: var(--colour-light);
		font-style: normal;
		transition: all 0.25s;

		&:hover {
			font-weight: bold;
		}
	}
}

.intro {
	display: block;
	width: 100%;
	max-width: 550px;
	font-size: min(2em, 8vw);
}

section {
	position: relative;
	display: flex;
	width: var(--section-width);
	margin-left: var(--section-margin);
	padding: var(--section-padding);
	box-sizing: border-box;

	&:nth-child(2n) {
		background-color: rgba(0, 0, 0, 0.2);
	}

	&.home {
		width: 100%;
		max-width: var(--max-width-site);
		gap: calc(6 * var(--padding-standard));
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		margin-left: calc(-2 * var(--padding-standard));

		@media (min-width: 1001px) {
			align-items: flex-end;
			flex-direction: row;
		}
		
		@media (min-width: 1100px) {
			margin: auto;
		}
	}

	&:not(.home) {
		justify-content: center;
	}

	&.section-vitae {
		font-weight: 400;

		& .vitae-grid {
			display: grid;
			grid-template-columns: var(--vitae-grid-columns);
			grid-template-rows: var(--vitae-grid-rows);
			gap: calc(2 * var(--padding-standard));
			max-width: var(--vitae-grid-width);

			& .vitae-cell:not(:first-of-type) {
				color: var(--colour-dark);
				padding: calc(2 * var(--padding-standard));
				border-radius: var(--padding-standard);
				background-color: #fff;
			}

			& .vitae-cell-1 {
				grid-column: var(--vitae-grid-1-column);
				grid-row: var(--vitae-grid-1-row);
			}

			& .vitae-cell-2 {
				grid-column: var(--vitae-grid-2-column);
				grid-row: var(--vitae-grid-2-row);
			}

			& .vitae-cell-3 {
				grid-column: var(--vitae-grid-3-column);
				grid-row: var(--vitae-grid-3-row);
			}

			& .vitae-cell-4 {
				grid-column: var(--vitae-grid-4-column);
				grid-row: var(--vitae-grid-4-row);

				display: flex;
				flex-direction: column;
				gap: var(--padding-standard);
			}

			& .vitae-cell-5 {
				grid-column: var(--vitae-grid-5-column);
				grid-row: var(--vitae-grid-5-row);
			}

			& .vitae-cell-6 {
				grid-column: var(--vitae-grid-6-column);
				grid-row: var(--vitae-grid-6-row);
			}

			& .vitae-grid-title {
				font-size: 1.1em;
				font-weight: 500;
				min-height: 30px;
				margin-bottom: calc(var(--padding-standard) / 2);
			}

			& .vitae-subheading {
				font-size: 1em;
				margin-bottom: var(--padding-standard);
			}

			& .vitae-heading {
				font-size: 2em;
				font-weight: bold;
			}

			& .vitae-bubbles {
				display: flex;
				flex-wrap: wrap;
				gap: var(--padding-standard);
			}

			& .vitae-tools {
				display: flex;
				flex-wrap: wrap;
				gap: var(--padding-standard);

				& img {
					height: 50px;
				}

				& .vitae-tools-row {
					flex-basis: 100%;

					& img {
						height: 40px;
						padding: 5px;
						border-radius: var(--padding-standard);
						background-color: #ccc;
					}
				}

				& .vitae-tools-addendum {
					display: flex;
					align-items: flex-end;
					font-size: 1.2em;
				}
			}
		}

		& .links {
			display: flex;
			flex-direction: column;
			gap: var(--padding-standard);
			width: 300px;
		}

		& .contact-method {
			display: flex;
			align-items: center;
			gap: calc(2 * var(--padding-standard));
			height: 50px;
			color: var(--colour-dark);
			font-size: 1.3em;
			text-decoration: none;
			transition: all 0.35s;

			& img {
				height: 100%;
				object-fit: contain;
				transition: all 0.35s;
			}

			&:hover {
				gap: calc(2.4 * var(--padding-standard));
				font-weight: bold;

				& img {
					transform: scale(1.05);
				}
			}
		}
	}

	&.section-apps {}

	& .menu {
		text-align: left;

		@media (min-width: 1001px) {
			text-align: right;
		}

		& .scroll-down-indicator {
			display: var(--scroll-down-display);
			margin-top: calc(6 * var(--padding-standard));
			font-size: 2em;
		}
	}

	&.section-web {
		display: flex;
		gap: var(--padding-standard);

		@media (min-width: 1001px) {
			padding: calc(8 * var(--padding-standard)) calc(3 * var(--padding-standard));
		}
	}

	&.section-visualisations {
		flex-direction: column;
		align-items: center;
		gap: calc(2 * var(--padding-standard));

		& .visualisations-title {
			font-size: 2.2em;
			font-weight: 400;
			max-width: 500px;
			text-align: center;
		}
			
		p {
			font-size: 1.8em;
			max-width: 500px;
			text-align: center;
		}

		& .snake-visualisation,
		& .exerciser-visualisation,
		& .triangular-frame-visualisation {
			width: 100%;
			max-width: 100%;
			border-radius: var(--padding-standard);

			@media (min-width: 1001px) {
				max-width: min(90%, var(--max-width-site));
			}
		}

		& .snake-visualisation {
			aspect-ratio: 4/3;

			@media (min-width: 1001px) {
				aspect-ratio: 4/2;
			}
		}

		& .exerciser-visualisation {
			aspect-ratio: 4/3;
		}

		& .triangular-frame-visualisation {
			aspect-ratio: 4/3;
		}
	}

	&.section-ai {
		flex-direction: column;
		gap: calc(7 * var(--padding-standard));
		align-items: center;

		@media (min-width: 1001px) {
			& .informative-video {
				max-width: min(90%, var(--max-width-site));
				margin: auto;
			}
		}
	}

	&.section-references {
		flex-direction: column;
		gap: calc(4 * var(--padding-standard));
		align-items: center;
		text-align: center;
		width: 100%;
		max-width: 500px;
		margin: auto;

		& .references-title {
			font-size: 2em;
		}

		& a {
			display: block;
			width: 100%;
			font-size: 1.5em;
			color: var(--colour-light);
			text-decoration: none;
			transition: all 0.2s;

			& p {
				margin: 0;
			}

			&:hover {
				font-weight: 500;
			}
		}
	}

	&.section-fin {
		font-size: 1.4em;

		& div {
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				font-weight: bold;
			}
		}
	}
}