.skills-page {
	position: relative;
	margin-bottom: calc(6 * var(--padding-standard));

	& hr {
		opacity: 0.1;
	}

	& h1 {
		margin-top: calc(4 * var(--padding-standard));
		margin-bottom: 0;
	}

	& .skills-section {
		display: flex;
		flex-wrap: wrap;
		max-width: 800px;
		gap: calc(1.5 * var(--padding-standard));
		padding: calc(2 * var(--padding-standard)) 0;
	}

	& .bubble-thing {
		font-size: 1.5em;
	}
}

.vertical-rule {
	position: absolute;
	left: calc(5 * var(--padding-standard));
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}