.skills-page {
	display: flex;
	flex-wrap: wrap;
	gap: calc(4 * var(--padding-standard));
	position: relative;
	margin-bottom: calc(6 * var(--padding-standard));

	& hr {
		opacity: 0.1;
	}

	& h1 {
		margin-bottom: 0;
	}

	& > *:not(.skills-section) {
		flex-basis: 100%;
	}

	& .skills-section {
		display: flex;
		flex-direction: column;
		width: 700px;
		max-width: 100%;
		gap: var(--padding-standard);
	}

	& .bubble-thing {
		font-size: 1.5em;

		& .skill-detailed {
			display: flex;
			gap: var(--padding-standard);
			align-items: center;

			& .details {
				display: flex;
				justify-content: space-between;
				width: 100%;

				& .title {
					& .subtext {
						margin-top: 5px;
						font-size: 1rem;
					}
				}

				& .since {
					font-size: 1.2rem;
					opacity: 0.8;
					text-align: right;
				}
			}

			& img {
				width: 40px;
				margin-right: 5px;
			}
		}
	}
}

.vertical-rule {
	position: absolute;
	left: calc(5 * var(--padding-standard));
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}